[Desktop Entry]
Comment[en_US]=
Comment=
Exec=konsole --noclose -e zsh -c <OMNIMETERFOLDER>/run.sh
GenericName[en_US]=OmniMeter
GenericName=OmniMeter
Icon=omnimeter.svg
MimeType=
Name[en_US]=OmniMeter
Name=OmniMeter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
